@media screen and (max-width: 480px) {
    #icon {
        text-align: center;
    }

    p {
        margin: 1em;
    }
}

.icon {
    margin-bottom: 1em;
}

.material-symbols-outlined {
    vertical-align: middle;
    line-height: 0;
}

span {
    margin-top: 0.1em;
}

.message-box span {
    margin-top: 0.5em;
}

#my-profile,
#share,
#message,
#shares,
#test {
    display: none;
}

.material-symbols-outlined {
    font-variation-settings: 'FILL'1, 'wght'400, 'GRAD'0, 'opsz'48;
}

/* 全体に適用されるスタイル */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #f5f5f5;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

.container {
    margin: 20px auto;
    max-width: 600px;
    padding: 20px;
    border-radius: 10px;
}

.blue {
    background-color: darkblue;
    color: #f5f5f5;
    padding: 1em;
    font-size: 3vh;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.box {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.box p {
    margin-bottom: 10px;
}

.icon {
    display: inline-block;
    margin-right: 10px;
}

.icon i {
    font-size: 30px;
}

hr {
    margin: 20px 0;
    border: none;
    border-top: dashed 3px #4b4b4b;
}

.share {
    text-align: center;
}

.share p {
    margin-bottom: 20px;
}

.share form {
    margin-bottom: 20px;
}

.share li {
    margin-bottom: 10px;
}

.input {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
}

.input.is-link {
    background-color: #ffffff;
    color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: solid 1px #4b4b4b;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
}

.button.is-link {
    background-color: #4b4b4b;
    color: #fff;
}

.button.is-link:hover {
    background-color: #333;
}